.navigation{
    margin: 10px 20px;
}
.navigation ul{
    display: flex;
    justify-content: space-between;
    direction: row;
    gap: 2rem;
}
.navigation ul li{
    list-style: none;
}

.navigation ul li:hover{
    background-color: gray;
}
.navigation li a{
    text-decoration: none;
}